<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ceseagod.rajarani">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utilities.Application"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launchers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThems"
        tools:replace="android:theme,android:icon">
        <activity android:name=".Sign"></activity>
        <activity android:name=".Terms" />
        <activity android:name=".mainfolder.AddressActivity" />
        <activity android:name=".mainfolder.check" />
        <activity android:name=".mainfolder.SpalshActivitys" />
        <activity android:name=".mainfolder.ShopItemEditActivity" />
        <activity android:name=".mainfolder.AddShopActivity" />
        <activity android:name=".mainfolder.ShopEditActivity" />
        <activity android:name=".mainfolder.AdminsActivity" />
        <activity android:name=".mainfolder.SupportChatActivity" />
        <activity android:name=".mainfolder.CartItemActivity" />
        <activity android:name=".mainfolder.ShowPages" />
        <activity android:name=".mainfolder.AddcartActivity" />
        <activity android:name=".mainfolder.AddCategoriesItemActivity" />
        <activity android:name=".mainfolder.AddCategoriesActivity" />
        <activity android:name=".mainfolder.AdminActivity" />
        <activity
            android:name=".mainfolder.OtpScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".mainfolder.LoginActivity" />
        <activity android:name=".mainfolder.GetStartedActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".mainfolder.SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>